.article {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 120px;
    padding: 0 200px 0 100px;
    color: #705A66;
}

.article__title {
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article__title h1 {
    font-size: 100px;
    font-family: 'Moniqa', sans-serif;
    line-height: 104px;
    margin: 0;
    margin-left: -105px;
}

.article__title h4 {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin: 0;
}

.article__title p {
    font-size: 18px;
}