.button_base {
    display: inline-flex;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid #705a66;
}

.button_base:hover {
    background: #705a66;
    color: #fff;
}

.button_base:active {
    background: #705a66;
    color: #f5f7f8;
}

.button_active {
    background: #705a66;
    color: #f5f7f8;
}

.button_base:nth-child(1) {
    margin-left: 0;
}